body,
html,
div {
    padding: 0;
    margin: 0;
}

#head {
    width: 100%;
    height: 43px;
}
#head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#head ul li {
    float: left;
}
#head ul li a {
    display: block;
    width: 139.6px;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}
#head ul li a:hover {
    background-color: gray;
}

#foot {
    width: 100%;
    height: 42px;
    margin-top: 10px;
}
#foot ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#foot ul li {
    float: left;
}
#foot ul li a {
    display: block;
    width: 250px;
    color: grey;
    background-color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
}

* {
    text-decoration: none;
}
a {
    color: blue;
}

input,
button {
    outline: none;
}

#content {
    border: solid 2px #e0e0e0;
    width: 25rem;
    height: 33rem;
    background-color: white;
    margin-top: 100px;
    margin-left: 65%;
    float: left;
    border-radius:27px;
    box-shadow: 0 0 100px 10PX black;
}

.header a {
    width: 50%;
    height: 60px;
    background-color: #f5f5f5;
    display: inline-block;
    float: left;
    /*居中*/
    text-align: center;
    line-height: 60px;
    color: #262626;
    border-radius:27px;
}

.header a.current {
    background-color: transparent;
}

#body {
    margin: 2rem;
}

.dom {
    width: 100%;
    display: none;
}

.input {
    border: 1px solid #D7E1F1;
    width: 255px;
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    margin: 10px 0 0 0;
    padding-left: 50px;
}

.s1 {
    margin-bottom: 1rem;
}

.button {
    display: inline-block;
    width: 302px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: 5px;
    text-decoration: none;
    background: linear-gradient(90deg,rgba(87,93,246,1),rgba(0,177,251,1));
    box-shadow: 1px 6px 13px 0px rgba(0,140,255,0.29);
    border-radius:27px;
    float: contour;
    border: none;
}

.s2 {
    text-align: center;
}

#s3 {
    margin-top: 1rem;
}

#input1 {
    width: 60%;
    height: 2rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

#button1 {
    width: 35%;
    height: 2rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.bk{
    height: 100%; /*calc(100vh);*/
    width: 100%;
    /*min-width: 1000px;*/
    min-height: 750px;
    background: url('../assets/picture/backgroud.png') repeat-x;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

video{
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%); //背景灰度设置*/
    z-index:-11
}
source{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}
